.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  background-color: transparent;
  border-color: black;
}

.form-control input:focus {
  outline: none;
}

.invalid input{
  border-color: red;
  background-color: rgb(147, 147, 253);
}

.invalid label{
  color: red;
}