form{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
form div{
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
button{
    font-size: 17px;
    background-color: white;
    color: black;
    padding: 5px;
}